extends layout

block head
  //- OpenGraph tags
  meta(property='og:title', content='Hackathon Starter')
  meta(property='og:description', content='A boilerplate for Node.js web applications.')
  meta(property='og:type', content='website')
  meta(property='og:url', content=siteURL)
  meta(property='og:image', content=`${siteURL}/bootstrap-logo.svg`)
  //- Twitter Card tags
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:title', content='Hackathon Starter')
  meta(name='twitter:description', content='A boilerplate for Node.js web applications.')
  meta(name='twitter:image', content=`${siteURL}/bootstrap-logo.svg`)

block content
  .iframe-container
    iframe(src='https://skaircrow.github.io', frameborder='0', allowfullscreen, style='width: 100%; height: 100vh; border: none')
